*{
    padding: 0%;
    margin: 0%;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #eee;
}
.content{
    background-color: #fff;
    border-radius: 2vw;
    width: 50%;
    height: fit-content;
    padding-bottom: 2%;
    margin-left: 25%;
    margin-top: 1%;
    padding-top: 2%;
    margin-bottom: 2%;
}
#input_gambar p{
    width: 80%;
    min-height: 5vw;
    height: fit-content;
    margin-left: 10%;
    margin-top: 2%;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding-top: 3%;
    border-radius: 1vw;
    border-color: orangered;
}
#files{
    display: none;
}
p{
    font-size: 16px;
    margin-left: 8%;
    margin-bottom: 2%;
}
#deskripsi{
    border-color: orangered;
}
#nama{
    width: 80%;
    margin-left: 8%;
    height: 2.5vw;
    border-radius: 0.7vw;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    background-color: #eee;
}
#harga{
    margin-left: 8%;
    width: 80%;
    height: 2.5vw;
    border-radius: 0.7vw;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    background-color: #eee;
}
#deskripsi{
    margin-left: 8%;
    width: 80%;
    border-radius: 0.7vw;
    padding: 2%;
    border: none;
    background-color: #eee;
}
#blah{
    border-radius: 0.7vw;
    background-color: transparent;
    border: none;
    width:53%; 
    height: 200px;
    display: none;
    margin-left: 25%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.submit{
    width: 80%;
    margin-left: 10%;
    height: 3vw;
    border: none;
    background-color: orangered;
    font-size: 1.5vw;
    border-radius: 0.7vw;
    color: white;
    font-weight: bolder;
}
.toast{
    min-width: 85%;
    min-height: 3vw;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 20%;
}
#toast_text{
    background-color: black;
    border-radius: 10vw;
    color: white;
    padding: 1%;
    display: none;
}
@media only screen and (max-width: 900px) {
    .content{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }  
    #nama{
        height: 8vw;
    }
    #harga{
        height: 8vw;
    }
    .submit{
        height: 8vw;
        font-size: 3vw;
    } 
    #input_gambar p{
        min-height: 20vw;
        height: fit-content;
    }
    #blah{
        width:53%; 
        height: 130px;
        display: none;
        margin-left: 25%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .toast{
        bottom: 30%;
    }
}